section#about {
  background-color: $blue;
  // box-shadow: inset 0 10px 10px rgb((0), 0, 0, .2);
  padding: 100px 0;
  // border-top: 2px solid $gold;
  // margin-top: 50px;
}

section#about p {
  padding-left: 60px;
  line-height: 1.6rem;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

section#about p span {
  color: $gold;
}

section#about.visible p {
  transition-delay: .4s;
  opacity: 1;
}

section#about p::before {
  content: '';
  display: block;
  width:30px;
  height: 2px;
  background-color: $gold;
  margin-left: -60px;
  position: relative;
  top: 14px;
}