section#about {
  background-color: #193E61;
  box-shadow: inset 0 10px 10px rgb((0), 0, 0, .2);
  padding: 100px 0;
}

section#about h2{
  opacity: 0;
  position: relative;
  left: -20px;
  transition: all 1s ease-in-out;
}

section#about.visible h2{
  opacity: 1;
  left: 0;
}

section#about p {
  padding-left: 60px;
  line-height: 1.6rem;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

section#about.visible p {
  transition-delay: .4s;
  opacity: 1;
}

section#about p::before {
  content: '';
  display: block;
  width:30px;
  height: 2px;
  background-color: $gold;
  margin-left: -60px;
  position: relative;
  top: 14px;
}