.box {
  width: 100%;
}

.card {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  background-color: transparent;
  /* background-color: white; */ /* For testing */
  border: none;
}

.groupButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button {
  margin: 0 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
}

.button:hover {
  background-color: red;
}

.cardButton {
  position: fixed;
  bottom: 30px;
  right: 0px;
  transform: translateX(-50%);
}

.icon {
  color: white;
}